<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%for s in solution %}

<!--Solution 1-->
<!--<p>{{s.model.model}} {{s.speed}} {{s.hd}}-->

<!--Solution 2-->
<!--<p>{{s.Maker}}-->

<!--Solution 3-->
<!--<p>{{s.model.model}} {{s.ram}} {{s.screen}}-->

<!--Solution 4-->
<!--<p>{{s.code}} {{s.model.model}} {{s.color}} {{s.type}} {{s.price}}-->

<!--Solution 5-->
<!--<p>{{s.model.model}} {{s.speed}} {{s.hd}}-->

<!--Solution 6-->
<!--<p>{{s.model.maker}} {{s.speed}}-->

<!--Solution 7-->
<!--<p>{{s.model}} {{s.price}}-->

<!--Solution 8-->
<!--<p>{{s.maker}}-->

<!--Solution 9-->
<!--<p>{{s.model__maker}}-->

<!--Solution 10-->
<!--<p>{{s.model.model}} {{s.price}}-->

{% endfor %}

<!--Solution 11-->
<!--<p>{{solution.speed__avg|floatformat:0}}-->

<!--Solution 12-->
<!--<p>{{solution.speed__avg|floatformat:0}}-->

<!--Solution 13-->
<!--<p>{{solution.speed__avg|floatformat:0}}-->

{%for s in solution %}

<!--Solution 15-->
<!--<p>{{s.hd}}-->

<!--Solution 16 сырой запрос-->
<!--<p> {{s.model1}} {{s.model2}} {{s.speed}} {{s.ram}}-->

<!--Solution 16 -->
<!--<p> {{s.model1}} {{s.model2}} {{s.speed}} {{s.ram}}-->

    <!--Solution 17 -->
<!--<p> {{s.model.type}} {{s.model.model}} {{s.speed}}-->

    <!--Solution 18 -->
<!--<p> {{s.model.maker}} {{s.price}}-->

    <!--Solution 19 -->
<!--<p> {{s.model__maker}} {{s.screen__avg|floatformat:0}}-->

    <!--Solution 20 -->
<!--<p> {{s.maker}} {{s.maker__count}}-->

    <!--Solution 21 -->
<!--<p> {{s.model__maker}} {{s.price__max}}-->

    <!--Solution 22 -->
<!--<p> {{s.speed}} {{s.price__avg|floatformat:0}}-->

    <!--Solution 23 -->
<!--<p> {{s.maker}}-->

    <!--Solution 24 -->
<!--<p> {{s.model}}-->

    <!--Solution 25 -->
<!--<p> {{s.model.maker}}-->

{% endfor %}
    <!--Solution 26 -->
<!--<p> {{solution.avg_price|floatformat:3}}-->


{%for s in solution %}

    <!--Solution 27 -->
<!--<p> {{s.model__maker}} {{s.hd__avg}}-->

    <!--Solution 28 -->
<!--<p> {{s.maker__count}}-->

     <!--Solution 35 -->
<!--<p> {{s.model}} {{s.type}}-->

         <!--Solution 40 -->
<!--<p> {{s.maker}} {{s.type}}-->

         <!--Solution 41 -->
<!--<p> {{s.maker}} {{s.price}}-->

{% endfor %}



</body>
</html>